{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "semi": [0, "never"],
    "eqeqeq": 2,
    "no-console": 1,
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "comma-spacing": [2, {"before": false, "after": true}],
    "react/prop-types": [2, {
      "ignore": ["dispatch"]
    }]
  }
}
